/* Estilo general para el carrusel */
.custom-swiper {
  position: relative;
}

/* Flechas de navegación */
.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: var(--color-primary);
  transition: color 0.3s ease;
}

.custom-swiper .swiper-button-next:hover,
.custom-swiper .swiper-button-prev:hover {
  color: var(--color-primary);
  opacity: 0.8;
}

/* Puntos de paginación (solo en mobile) */
.custom-swiper .swiper-pagination-bullet {
  background-color: var(--color-primary);
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.custom-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}
